<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
   
        <div class="best-seller">
        <% if (prods.length > 0) { %>
            <div class="row best-seller-row">
                <% for (let product of prods) { %>
                   <%- include('includes/card.ejs') %>
                    <% } %>
            </div>
            <% } else {%>
                <h1>No Products Found!</h1>
            <% } %>
        </div>
    
    <%- include('includes/end.ejs') %>