<header>
    <nav class="navbar">
        <ul>
            <li><a class="list-item" href="/">Home</a></li>
            <li><a class="list-item" href="/">Shop</a></li>
            <li><a class="list-item" href="/admin/add-product">Add Product</a></li>
        </ul>
    </nav>
</header>