<nav class="row row1">
    <div class="col col1">
        <a href="">
            <img src="/images/logo.png" alt="">
        </a>
        <div class="nav-search">
            <input type="text" placeholder="Search book by author or publisher" class="nav-input">
            <i class="bi bi-search nav-search-icon"></i>
        </div>  
    </div>
    <div class="col col2">
        <a href="" class="nav-link">FAQ</a>
        <a href="" class="nav-link">Track Order</a>
        <a href="" class="nav-link nav-cart-link">
            <i class="bi bi-cart nav-cart"></i>
            <div class="nav-cart-count">0</div>
        </a>
        <button class="nav-btn">Sign in</button>
    </div>
</nav>
<header>
    <div class="row row2">
        <div class="col menu-list">
            <a href="/">Home</a>
        </div>
        <div class="col menu-list">
            <a href="./categories.html">Categories</a>
        </div>
        <div class="col menu-list">
            <a href="/admin/add-product">Add Product</a>
        </div>
        <div class="col menu-list">
            <a href="">Pages</a>
        </div>
        <div class="col menu-list">
            <a href="./blog.html">Blog</a>
        </div>
        <div class="col menu-list">
            <a href="./contact.html">Contact</a>
        </div>
        <div class="col menu-col">
            <span>Menu</span> 
            <i class="bi bi-list"></i>
        </div>
    </div>
</header>