<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .navbar{
            background-color: black;
            
        }
        .navbar ul{
            display: flex;
            list-style: none;
            gap: 10rem;
            padding: 1rem;
        }
        .list-item{
           text-decoration: none;
           color: white;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a class="list-item" href="/">Home</a></li>
                <li><a class="list-item" href="/">Shop</a></li>
                <li><a class="list-item" href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Hello Everyone</h1>
    </main>
</body>
</html>