
        *{
            margin: 0;
            padding: 0;
        }
        .navbar{
            background-color: black;
            
        }
        .navbar ul{
            display: flex;
            list-style: none;
            gap: 10rem;
            padding: 1rem;
        }
        .list-item{
           text-decoration: none;
           color: white;
        }
       
